@charset "UTF-8";
/* ----
   Setting
 ----*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* ----
#productHeader
 產品頁子選單
 ----*/
.subPH::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
}

.subPH::-webkit-scrollbar {
  height: 6px;
  background-color: white;
  border-radius: 16px;
}

.subPH::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
}

.subPH {
  overflow-x: scroll;
}
.subPH ul {
  width: 100%;
  min-width: 730px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.subPH ul li {
  margin-left: 8px;
}
.subPH ul li a {
  border-radius: 4px;
  padding: 4px 8px;
}
.subPH ul li a:hover {
  color: white;
  background-color: #343735;
}
.subPH ul .buyBtn {
  color: white;
  background-color: #88898D;
  display: block;
}

.menulogo {
  width: 165px;
  margin-left: -8px;
}

/* ----

keyVisualDesign
產品頁主視覺
section #features0

----*/
.kvd-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 907.5px;
  height: calc(100vh - 12px);
}
@media (max-width: 1399.99px) {
  .kvd-wrap {
    min-height: 783.75px;
    height: calc(100vh - 135px);
  }
}
@media (max-width: 1199.99px) {
  .kvd-wrap {
    min-height: 660px;
    height: calc(100vh - 260px);
  }
}
.kvd-wrap .kvdImg {
  display: flex;
  position: absolute;
  max-width: 1320px;
  min-width: 960px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .kvd-wrap .kvdImg {
    margin: 0;
    padding-right: 0;
    align-content: center;
    flex-wrap: wrap;
  }
}

.kvd-Text-wrap {
  position: relative;
  justify-content: center;
  text-align: center;
}

.kvd-Text {
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}
.kvd-Text img {
  display: block;
  margin: 1% auto auto;
  min-width: 125px;
}
.kvd-Text .buyBtn {
  display: flex;
  width: 140px;
  height: 46px;
  padding: 0px 27.714px 0px 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 23px;
  background: #f8b300;
  margin: 3% auto auto;
}
.kvd-Text .buyBtn span {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif Thai";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.kvd-Text .buyBtn:hover {
  background: white;
}
.kvd-Text .buyBtn:hover span {
  color: #f8b300;
}

.pBoxShadow {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.23);
}

.pTextShadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.PMainTitle,
.PSubTitle {
  --font-size: calc(
    (var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) *
      ((100cqw - 320px) / (1920 - 320))
  );
  font-size: clamp(var(--min-size) * 1px, var(--font-size), var(--max-size) * 1px);
}

.PMainTitle {
  --min-size: 32;
  --max-size: 48;
  font-weight: 600;
  color: #88898D;
  min-height: 72px;
}

.PSubTitle {
  margin-top: 1.5%;
  --min-size: 19;
  --max-size: 28;
  font-weight: 900;
  color: #88898D;
  line-height: 44px;
}

.remoteKvdImg {
  width: 100%;
}
@media (min-width: 1399.99px) {
  .remoteKvdImg {
    margin-top: 10%;
  }
}
@media (max-width: 1399.98px) {
  .remoteKvdImg {
    margin-top: 5%;
  }
}
@media (max-width: 1199.98px) {
  .remoteKvdImg {
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 3%;
  }
}

.remotePNG {
  position: absolute;
  width: 40%;
  left: 30%;
  animation: fadePNG 1s ease-in-out, movePNG 2s ease-in-out;
  animation-delay: 890ms, 1090ms;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadePNG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes movePNG {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@keyframes shinePNG {
  0% {
    fill: rgba(255, 255, 255, 0);
    opacity: 1;
  }
  50% {
    fill: rgba(255, 255, 255, 0);
    opacity: 1;
  }
  100% {
    fill: rgba(255, 255, 255, 0.99);
    opacity: 1;
  }
}
.remoteGIF {
  width: 75%;
}

/*--
section #features1
product-features

--*/
main.main.product-features {
  margin: 0;
}

#features1,
.fTitle2 {
  padding-top: 56px;
}

.fTitle2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

#features1 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/1-2-p/1-2-product-bg_02.png");
}
#features1 .fTitle1 {
  width: 20%;
  margin: auto;
  min-width: 220px;
  max-width: 260px;
}
#features1 .fTitle1 .fs2,
#features1 .fTitle1 .fs3,
#features1 .fTitle1 .fs4 {
  white-space: nowrap;
}
#features1 .fTitle1 .fs1 {
  background: linear-gradient(180deg, #88898D 23.98%, #000 33.36%, #767676 55.16%, #9D9D9D 66.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  --min-size: 130;
  --max-size: 200;
  font-style: normal;
  font-weight: 500;
  float: left;
  margin-top: -15px;
}
#features1 .fTitle1 .fs2 {
  color: #947D2A;
  --min-size: 16;
  --max-size: 26;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 999.99px) {
  #features1 .fTitle1 .fs2 {
    letter-spacing: 1.3rem;
  }
}
@media (max-width: 999.98px) {
  #features1 .fTitle1 .fs2 {
    letter-spacing: 1.3rem;
  }
}
@media (max-width: 599.98px) {
  #features1 .fTitle1 .fs2 {
    letter-spacing: 1.2rem;
  }
}
#features1 .fTitle1 .fs3 {
  color: #343735;
  --min-size: 40;
  --max-size: 60;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#features1 .fTitle1 .fs4 {
  color: #88898D;
  --min-size: 20;
  --max-size: 40;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 14px;
}
#features1 .fTitle2 {
  line-height: 1.2;
  color: #343735;
}
#features1 .fTitle2 h3 {
  --min-size: 40;
  --max-size: 60;
  margin-bottom: 0;
  text-align: center;
}
#features1 .fTitle2 h4 {
  --min-size: 20;
  --max-size: 40;
  margin-bottom: 0;
  text-align: center;
}
#features1 .fTitle2 p {
  text-align: center;
  --min-size: 18;
  --max-size: 28;
  line-height: 1.7;
}
#features1 .featuresBox-wrap {
  display: grid;
  padding: 32px;
}
#features1 .featuresBox-wrap .fimg1 {
  width: 100%;
  overflow: hidden;
  border-radius: 23px;
  background: radial-gradient(88.76% 71.73% at 50% 50%, #FFF 15%, #F9F9F9 50%, #DDDCDB 84.5%);
  position: relative;
}
#features1 .featuresBox-wrap .fimg1 img {
  width: 100%;
}
#features1 .featuresBox-wrap .fimg1 .ibg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
  max-width: 209px;
  max-height: 97px;
  background-image: url("/images/1-2-p/roundedCorners.png");
  background-repeat: no-repeat;
  padding: 16px 16px 16px 40px;
  background-size: contain;
  background-position: right bottom;
}
#features1 .featuresBox-wrap .fimg1 .ibg .ficon {
  width: 100%;
  min-width: 18px;
  max-width: 22px;
  float: left;
  margin-right: 4px;
}
#features1 .featuresBox-wrap .fimg1 .ibg span.iconFont {
  margin: 0;
  --min-size: 16;
  --max-size: 19;
  font-weight: bold;
  display: block;
  line-height: 22px;
  color: #88898D;
  text-align: left;
  right: 15px;
  bottom: 15px;
  position: absolute;
}/*# sourceMappingURL=product.css.map */